.pomodoro-timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timer-header {
  font-size: 18px;
  font-weight: bold;
}

.timer-ring {
  width: 220px;
  height: 220px;
  position: relative;
  margin: auto;
}

.rings {
  width: 100%;
  height: 100%;

  transform: rotate(-90deg);
}

.bg-ring {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 12px;
}

.active-ring {
  fill: none;
  stroke: #22c55e;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-dasharray: 565;
  stroke-dashoffset: 124;
}

.timer-content {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;
  transform: translate(-50%, -50%);
}

.timer-content h1 {
  font-size: 40px;
}

.timer-content p {
  font-size: 14px;
  font-weight: 450;
}

.timer-btn {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.start-btn, .reset-btn {
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
}

.start-btn {
  background-color: rgb(26, 186, 26);
  color: white;
}

.reset-btn {
  background-color: lightgray;
}